# IDE
.vs/
.vscode/
.idea/
*.user
*.sublime-workspace
.history/

# .NET
backend/bin/
backend/obj/
backend/logs/
*.pfx

# Angular / Node
frontend/node_modules/
frontend/dist/
frontend/.angular/
npm-debug.log
yarn-error.log

# Environment
.env

# System
.DS_Store
Thumbs.db
